@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* color-scheme: light dark; */
  }

  body {
    font-family: "Roboto", sans-serif;
    @apply bg-background-light dark:bg-background-dark text-text-light dark:text-text-dark;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: "Roboto Condensed", sans-serif;
  }
}

@layer components {
  .content-container {
    width: min(90vw, 1280px);
    margin-inline: auto;
  }

  .gradient-dark {
    background: linear-gradient(180deg, #0e141b00 0%, #0e141b 80%);
  }

  .card-gradient {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .movie-card__grid-container {
    display: grid;
    grid-template-areas: "card";
  }

  .movie-card__grid-item {
    grid-area: card;
  }

  .movie-card__content-gradient {
    background: linear-gradient(
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.5) 10%,
      rgba(0, 0, 0, 1) 100%
    );
  }

  .tool-tip {
    --tool-tip-clr: #333;
    --arrow-size: 20px;
    color: white;
    position: relative;
  }

  .tool-tip::after,
  .tool-tip::before {
    position: absolute;
    left: 50%;
    /* transform: translateX(50%);
    transform: scale(0); */
    transition: transform 150ms;
    z-index: 999;
  }

  .tool-tip::before {
    top: calc(0.25rem + var(--arrow-size));
    content: attr(data-tool-tip);
    background-color: var(--tool-tip-clr);
    padding: 0.5rem;
    border-radius: 5px;
    transform-origin: bottom center;
    width: max-content;
  }

  .tool-tip::after {
    content: "";
    top: 0.25rem;
    border: 20px solid transparent;
    height: 20px;
    width: 20px;
    border-top: red;
    transform-origin: top center;
  }

  .tool-tip:hover::after,
  .tool-tip:hover::before {
    transform: scale(1);
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
